<h3>User Details</h3>
<br/>
<table id="tblDetails" border="1">
  <tr>
  <th>User Name</th>
  <th>Email</th>
  <th>Mobile</th>
  <th>City</th>
</tr>
<tr>
  <td>name</td>
  <td>email</td>
  <td>mobile</td>
  <td>city</td>
</tr>
</table>
