<div class="login-page">
  <div class="form">
    <form class="login-form" method="POST" action="/user/new">
      <input id="username" type="text" name="name" placeholder="username"/>
      <input id="email" type="text" name="email" placeholder="email"/>
      <input id="phone" type="text" name="mobile" placeholder="mobile"/>
      <input id="city" type="text" name="city" placeholder="city"/>
      <button>Submit</button>
    </form>
  </div>
</div>
